<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" class="default-tab">Table</a></li>
            <!-- href must be unique and match the id of target div -->

        </ul>
        <div class="clear"></div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <!-- This is the target div. id must match the href of this div's tab -->
            <div class="notification attention png_bg"> <a href="#" class="close"><img src="resources/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
                <div> This is a Content Box. You can put whatever you want in it. By the way, you can close this notification with the top-right cross. </div>
            </div>
            <table>
                <form id="select" name="select" action="admin.php?a=image&c=delete" method="post">
                <thead>
                <tr >
                    <th>
                        <input class="check-all" type="checkbox"  onclick="all_select_1(this.checked)"  />
                    </th>
                    <th>img_id</th>
                    <th>img_name</th>
                    <th>img_msg</th>
                    <th>img_url</th>
                    <th>img_time</th>
                    <th>img_user</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="bulk-actions align-left">
                           <!-- <select name="dropdown">
                                <option value="option1">Choose an action...</option>
                                <option value="option2">Edit</option>
                                <option value="option3">Delete</option>
                            </select>

                            <a class="button" href="#">Apply to selected</a>-->
                            <input type="button" value="全选/不选" onclick="all_select();">
                            <input type="button" value="反选" onclick="fan_select()" >
                            <input type="submit" value="删除已选择的项" onclick="return delete_duo()">
                        </div>
                        <div class="pagination" id="page">
                            <?php
                            echo $row["str"];
                          ?>
                            <!--<a href="#" title="First Page">&laquo; First</a>
                            <a href="#" title="Previous Page">&laquo; Previous</a>
                            <a href="#" class="number" title="1">1</a>
                            <a href="#" class="number" title="2">2</a>
                            <a href="#" class="number current" title="3">3</a>
                            <a href="#" class="number" title="4">4</a>
                            <a href="#" title="Next Page">Next &raquo;</a>
                            <a href="#" title="Last Page">Last &raquo;</a>-->
                        </div>
                        <!-- End .pagination -->
                        <div class="clear"></div>
                    </td>
                </tr>

                </tfoot>
                <tbody id="cyb_s">
                <?php
                        if($row["data"]){
                            foreach($row["data"] as $key=>$val){
                ?>
                <tr class="cyb_tr">
                    <td>
                        <input type="checkbox" name="select[]"  value="<?php echo $val['img_id'];?>" />
                    </td>
                    <td><?php echo $val['img_id'];?></td>
                    <td><a href="<?php echo $val['img_url'];?>" target="_blank"><?php echo $val['img_name'];?></a></td>
                    <td><?php echo $val['img_msg'];?></td>
                    <td><a href="<?php echo $val['img_url'];?>" target="_blank"><img style="height: 80px; width:110px; border:1px saddlebrown solid;padding: 2px" title="<?php echo $val['img_msg'];?>" src="<?php echo $val['img_suolue'];?>" /></a> </td>
                    <td><?php echo $val['img_time'];?></td>
                    <td><?php echo $val['img_user'];?></td>
                    <td>
                        <!-- Icons -->
                        <a href="admin.php?a=image&c=update&id=<?php echo $val['img_id'];?>" title="Edit"><img src="resources/images/icons/pencil.png" alt="Edit" /></a>
                        <a href="admin.php?a=image&c=delete&id=<?php echo $val['img_id'];?>" onclick="return confirm('确认要删除数据吗？删除后无法恢复');" title="Delete"><img src="resources/images/icons/cross.png" alt="Delete" /></a>
                        <br><a href="admin.php?a=image&c=download&id=<?php echo $val['img_id'];?>">下载</a>
                    </td>
                </tr>
                <?php
                            }
                        }else{
                    ?>
                <tr>
                    <td colspan="8" style="color:red;">
                        还没有用户上传过图片！
                    </td>
                </tr>
                <?php
                        }
                     ?>
                </tbody>
                </form>
            </table>
        </div>
        <!-- End #tab1 -->
    </div>
    <!-- End .content-box-content -->
</div>
<!-- End .content-box -->
<!--                   自定义js函数库                     -->
<script type="text/javascript" src="resources/scripts/cyb_f.js"></script>