<link rel="stylesheet" href="resources/home/css/list.css" />
		<div id="main_wrapper" class="contenter">
			<article>
				<h3>您现在的位置：首页 > 新闻列表页 > 这里是这条新闻的标题</h3>
				<section class="text">
					<header>
						<h4>这里是这条新闻的标题</h4>
						<a href="list.html">新闻栏目</a><time datetime="2016-07-24">2016-07-24</time>
						<p>分享给朋友：</p><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","weixin","tsina","tqq","renren"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","weixin","tsina","tqq","renren"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
					</header>
					<div class="content">
						<p>捡到的银行卡附带密码还能查到几十万巨大余额，这又是什么新骗局？深圳南山警方官方微信平台近日公布这种新骗法，提醒市民千万注意，不要被骗。

某一天，市民如果在路上捡到一个信封，里面不但有一张银行卡，而且还附带密码，把卡插入ATM机并输入密码，竟然能查到几十万余额。这个时候，千万不要以为天上掉馅饼，这是新骗局！

一打开信封，再看看信的内容，原来这是一封某工程公司的行贿信，是要感谢帮助招标成功的王处长的。信的内容大致如下：

王处长：

感谢你在招标过程中对我们公司的帮助，因为不方便登门致谢，特附上银行卡一张，里面是我公司的一点心意。密码是工程开工日期（150328），如果在取款中遇到问题，请咨询开户办理的银行（028-87012827）。

市民如果捡到该类银行卡，跑到银行柜员机一查，里面余额竟然是几十万的！

但是，一按取钱键，里面提供信息"不予承兑"。

"不予承兑"这是什么意思？被骗市民就会赶紧拨打信上说的那个开户行电话。其实这是骗子电话。"先生，查到这张卡有5000元滞纳金，您只要往该卡号转5000元，就可以自由存取了。"

被骗市民急切转账5000元，过后一查仍然是：不！予！承！兑！</p>

<p>警方揭秘骗局

此类骗局发生后，很多银行从业人员也无法解释，原因是银行卡插入ATM机后输入密码能查到余额，说明银行卡是真的；无论骗子给出什么理由，向手中这张真卡里面转账，即使之前的钱取不出，转进去的钱肯定可以取出来。

那么，骗子为什么还能诈骗成功呢？

经查证，警方最终弄清了诈骗流程：

第一步：骗子先办一张额度为30万的信用卡，但会先通过不予激活或先行注销等手段，达到"能查到额度却无法取现"的结果。

第二步：用银行卡复制器复制出若干个伪卡，伪卡的磁条信息仍然是这张信用卡的，但是伪卡上面的账号则制作为骗子的私人账号；

第三步：将伪卡和伪造的行贿信装入信封，四处散播，故意让人捡到。

第四步：受害人捡到的这张卡，由于磁条信息是真实的信用卡，密码也是对的，所以插卡时会显示余额。在取不出钱时便会打信上所提到的开卡行电话（实际上是骗子的电话）。

第五步：骗子以此卡需要交纳滞纳金为由，要求受害者转账到卡面账户激活，实际上，已经把钱打到骗子的私人账户上去了。

由于受害者手里一直持有这张有几十万余额的银行卡，所以一般不会向别人提起，会坚持在家等待卡片激活。经过很长一段时间后明白被骗，骗子的账上的钱也早已转走，又开始换另外一个账号行骗了。（深圳晚报记者张少琼通讯员武冰唐婷）</p>
					</div>
				</section>
				<section class="pic_nav">
					<h2>
						<a href="piclist.html">上一页</a>
						<a href="piclist.html">1</a>
						<a href="piclist.html" class="on">2</a>
						<a href="piclist.html">3</a>
						<a href="piclist.html">4</a>
						<a href="piclist.html">5</a>
						<a href="piclist.html">下一页</a>
						<a href="piclist.html">全部阅读</a>
					</h2>
				</section>
				<section class="xiangguan">
					<h5>相关阅读：</h5>
					上一篇：<a href="content.html">上一篇新闻标题上一篇新闻标题</a>&nbsp;&nbsp;&nbsp;&nbsp;
					下一篇：<a href="content.html">下一篇新闻标题下一篇新闻标题</a>
				</section>
			</article><aside>
				<section class="wenzhang_hot">
					<h3>热门文章推荐 / TOP 10</h3>
					<ul>
						<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
					</ul>
				</section>
				<section class="wenzhang_hot">
					<h3>热门文章推荐 / TOP 10</h3>
					<ul>
						<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
					</ul>
				</section>
			</aside>
		</div>
