
		<div id="main_wrapper" class="contenter">
			<article>
				<section id="lunbotu">
					<div id="tab">
						<img src="resources/home/images/a1.jpg"/>
						<img src="resources/home/images/a2.jpg"/>
						<img src="resources/home/images/a3.jpg"/>
						<img src="resources/home/images/a4.jpg"/>
						<img src="resources/home/images/a5.jpg"/>
						<img src="resources/home/images/a6.jpg"/>
						<h1>
							<p>
								第一个图片描述
							</p>
							<ul>
								<li class="li">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
							</ul>
						</h1>
						<div>
						<
						</div>
						<div>
						>
						</div>
					</div>
				</section>
				<section id="xinwen">
					<h3 class="title_h3">
						<a href="content.html">联盟会员新闻</a>
					</h3>
					<ul>
						<li>
							<a href="content.html" class="img"><img src="resources/home/images/news_img.jpg"></a><a href="content.html" class="ms">
								<div class="sanjiao"></div>
								<h3>这里是新闻的标题标题</h3>
								<p>
									打开平时装钻石项链的首饰盒，顿时一惊：空的！她突然回想到，前一天外出回家后满身大汗，于是将项链取下……
									打开平时装钻石项链的首饰盒，顿时一惊：空的！她突然回想到，前一天外出回家后满身大汗，于是将项链取下……
								</p>
							</a>
						</li>
						<li>
							<a href="content.html" class="img"><img src="resources/home/images/news_11.jpg"></a><a href="content.html" class="ms">
								<div class="sanjiao"></div>
								<h3>这里是新闻的标题标题</h3>
								<p>
									打开平时装钻石项链的首饰盒，顿时一惊：空的！她突然回想到，前一天外出回家后满身大汗，于是将项链取下……
								</p>
							</a>
						</li>
						<li>
							<a href="content.html" class="img"><img src="resources/home/images/news_11.jpg"></a><a href="content.html" class="ms">
								<div class="sanjiao"></div>
								<h3>这里是新闻的标题标题</h3>
								<p>
									打开平时装钻石项链的首饰盒，顿时一惊：空的！她突然回想到，前一天外出回家后满身大汗，于是将项链取下……
								</p>
							</a>
						</li>
						<li>
							<a href="content.html" class="img"><img src="resources/home/images/news_11.jpg"></a><a href="content.html" class="ms">
								<div class="sanjiao"></div>
								<h3>这里是新闻的标题标题</h3>
								<p>
									打开平时装钻石项链的首饰盒，顿时一惊：空的！她突然回想到，前一天外出回家后满身大汗，于是将项链取下……
								</p>
							</a>
						</li>
						<li>
							<a href="content.html" class="img"><img src="resources/home/images/news_11.jpg"></a><a href="content.html" class="ms">
								<div class="sanjiao"></div>
								<h3>这里是新闻的标题标题</h3>
								<p>
									打开平时装钻石项链的首饰盒，顿时一惊：空的！她突然回想到，前一天外出回家后满身大汗，于是将项链取下……
								</p>
							</a>
						</li>
					</ul>
				</section>
				<section id="huodong">
					<h3 class="title_h3">
						<a href="content.html">集团活动</a>
					</h3>
					<section class="huodong_a">
						<ul>
							<li><a href="index.html"><img src="resources/home/images/hd_1.jpg"></a></li>
							<li><a href="index.html"><img src="resources/home/images/hd_2.jpg"></a></li>
							<li><a href="index.html"><img src="resources/home/images/hd_3.jpg"></a></li>
							<li><a href="index.html"><img src="resources/home/images/hd_4.jpg"></a></li>
						</ul>
					</section>
					<section class="huodong_b">
						<ul>
							<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
						</ul>
					</section>
					<section class="huodong_c">
						<ul>
							<li><a href="index.html"><img src="resources/home/images/hd_17.jpg"></a></li>
							<li><a href="index.html"><img src="resources/home/images/hdd_20.jpg"></a></li>
						</ul>
					</section>
				</section>
			</article><aside>
				<section id="bowen">
					<h3 class="title_h3">
						<a href="content.html">联盟博文</a>
					</h3>
					<section class="bowen_a">
						<ul>
							<li>
								<a href="index.html"><img src="resources/home/images/bowen_06.jpg"></a>
								<a href="index.html" title="博文标题博文标题博文标题博文标题">博文标题博文标题博文标题博文标题</a>
							</li><li>
								<a href="index.html"><img src="resources/home/images/bowen_06.jpg"></a>
								<a href="index.html" title="博文标题博文标题">博文标题博文标题</a>
							</li>
						</ul>
					</section>
					<section class="bowen_b">
						<ul>
							<li><a>新闻标题新新闻标题新新闻标题新闻标题新标闻题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题新题新闻标题新闻标题</a></li>
							<li><a>新闻标题新闻标题新闻标题闻标题新</a></li>
							<li><a>新闻标题新闻标题闻标题新闻标题新</a></li>
							
						</ul>
					</section>
				</section>
				<section id="zhaoping">
					<h3 class="title_h3">
						<a href="content.html">联盟招聘</a>
					</h3>
					<ul>
						<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
					</ul>
				</section>
				<section id="lianxi">
					<h3 class="title_h3">
						<a href="content.html">联系我们</a>
					</h3>
					<a><img src="resources/home/images/about_13.jpg"></a>
				</section>
				<section id="lianmeng">
					<h3 class="title_h3">
						<a href="content.html">联盟公司</a>
					</h3>
					<ul>
						<li>
							<a href="index.html">
									<h3>联盟公司名称</h3>
									<img src="resources/home/images/menber_19.jpg">
									<p>
										Src中首先指定字体文件所在的路径，format声明字体文件的格式，
										可以省略字体文件的声明，单独使用src属性值
									</p>
							</a>
						</li><li>
							<a href="index.html">
									<h3>联盟公司名称</h3>
									<img src="resources/home/images/menber_19.jpg">
									<p>
										Src中首先指定字体文件所在的路径，format声明字体文件的格式，
										可以省略字体文件的声明，单独使用src属性值
									</p>
							</a>
						</li>
						<li>
							<a href="index.html">
									<h3>联盟公司名称</h3>
									<img src="resources/home/images/menber_19.jpg">
									<p>
										Src中首先指定字体文件所在的路径，format声明字体文件的格式，
										可以省略字体文件的声明，单独使用src属性值
									</p>
							</a>
						</li>
						<li>
							<a href="index.html">
									<h3>联盟公司名称</h3>
									<img src="resources/home/images/menber_19.jpg">
									<p>
										Src中首先指定字体文件所在的路径，format声明字体文件的格式，
										可以省略字体文件的声明，单独使用src属性值
									</p>
							</a>
						</li>
						<li>
							<a href="index.html">
									<h3>联盟公司名称</h3>
									<img src="resources/home/images/menber_19.jpg">
									<p>
										Src中首先指定字体文件所在的路径，format声明字体文件的格式，
										可以省略字体文件的声明，单独使用src属性值
									</p>
							</a>
						</li>
						<li>
							<a href="index.html">
									<h3>联盟公司名称</h3>
									<img src="resources/home/images/menber_19.jpg">
									<p>
										Src中首先指定字体文件所在的路径，format声明字体文件的格式，
										可以省略字体文件的声明，单独使用src属性值
									</p>
							</a>
						</li>
						<li>
							<a href="index.html">
									<h3>联盟公司名称</h3>
									<img src="resources/home/images/menber_19.jpg">
									<p>
										Src中首先指定字体文件所在的路径，format声明字体文件的格式，
										可以省略字体文件的声明，单独使用src属性值
									</p>
							</a>
						</li>
					</ul>
				</section>
			</aside>
		</div>

        <script type="text/javascript" src="resources/home/js/lunbotu.js" ></script>