<link rel="stylesheet" href="resources/home/css/list.css" />

		<div id="main_wrapper" class="contenter">
			<article>
				<h3>您现在的位置：首页 > 新闻列表页</h3>
				<section id="tab_list">
					<header>
						<ul>
							<li class="title">国际</li>
							<li>国内</li>
							<li>娱乐</li>
							<li>体育</li>
							<li>汽车</li>
							<li>财经</li>
						</ul>
					</header><section class="tab">
						<div class="show">
							<ul>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/resources/home/images/bowen_06.jpg" />
				        				<section class="new_title">
				        					<h4 class="tui">国际新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hd_2.jpg" />
				        				<section class="new_title">
				        					<h4 class="tui">国际新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hdd_20.jpg" />
				        				<section class="new_title">
				        					<h4>国际新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/news_11.jpg" />
				        				<section class="new_title">
				        					<h4>国际新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        	</ul>
						</div>
				        <div>
				        	<ul>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/bowen_06.jpg" />
				        				<section class="new_title">
				        					<h4 class="hot">国内新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hd_2.jpg" />
				        				<section class="new_title">
				        					<h4 class="hot">国内新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hdd_20.jpg" />
				        				<section class="new_title">
				        					<h4 class="hot">国内新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/news_11.jpg" />
				        				<section class="new_title">
				        					<h4>国内新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        	</ul>
						</div>
				        <div>
				        	<ul>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/bowen_06.jpg" />
				        				<section class="new_title">
				        					<h4>娱乐新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hd_2.jpg" />
				        				<section class="new_title">
				        					<h4>娱乐新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hdd_20.jpg" />
				        				<section class="new_title">
				        					<h4>娱乐新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/news_11.jpg" />
				        				<section class="new_title">
				        					<h4>娱乐新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        	</ul>
				        </div>
				        <div>
				        	<ul>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/bowen_06.jpg" />
				        				<section class="new_title">
				        					<h4>体育新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hd_2.jpg" />
				        				<section class="new_title">
				        					<h4>体育新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hdd_20.jpg" />
				        				<section class="new_title">
				        					<h4>体育新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/news_11.jpg" />
				        				<section class="new_title">
				        					<h4>体育新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        	</ul>
				        </div>
				        <div>
				        	<ul>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/bowen_06.jpg" />
				        				<section class="new_title">
				        					<h4 class="jing">汽车新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hd_2.jpg" />
				        				<section class="new_title">
				        					<h4>汽车新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hdd_20.jpg" />
				        				<section class="new_title">
				        					<h4 class="jing">汽车新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/news_11.jpg" />
				        				<section class="new_title">
				        					<h4>汽车新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        	</ul>
				        </div>
				        <div>
				        	<ul>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/bowen_06.jpg" />
				        				<section class="new_title">
				        					<h4>财经新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hd_2.jpg" />
				        				<section class="new_title">
				        					<h4>财经新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/hdd_20.jpg" />
				        				<section class="new_title">
				        					<h4>财经新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        		<li>
				        			<a href="list.html">
				        				<img src="resources/home/images/news_11.jpg" />
				        				<section class="new_title">
				        					<h4>财经新闻标题一</h4>
				        					<p>新闻标题新闻标题新闻标闻题新闻标题新闻标题新</p>
				        				</section>
				        			</a>
				        		</li>
				        	</ul>
				        </div>
					</section>
					<script type="text/javascript" src="js/tab.js" ></script>
				</section>
				<section class="list">
					<ul>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>
						<li><a href="list.html">新闻标题新闻标题新闻题新闻标题新闻标题新</a><time datetime="2016-07-20">2016-07-20</time></li>

					</ul>
				</section>
				<section class="pic_nav">
					<h2>
						<a href="piclist.html">1</a>
						<a href="piclist.html" class="on">2</a>
						<a href="piclist.html">3</a>
						<a href="piclist.html">4</a>
						<a href="piclist.html">5</a>
						<a href="piclist.html">上一页</a>
						<a href="piclist.html">下一页</a>
					</h2>
				</section>
			</article><aside>
				<section class="wenzhang_hot">
					<h3>热门文章推荐 / TOP 10</h3>
					<ul>
						<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
					</ul>
				</section>
				<section class="wenzhang_hot">
					<h3>热门文章推荐 / TOP 10</h3>
					<ul>
						<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
					</ul>
				</section>
			</aside>
		</div>

<script type="text/javascript" src="resources/home/js/tab.js" ></script>