<link rel="stylesheet" href="resources/home/css/list.css" />
		<div id="main_wrapper" class="contenter">
			<article>
				
				<section class="pic_list">
					<h3>您现在的位置：首页 > 产品列表页</h3>
					<ul>
						<li><a href="piclist.html"><img src="resources/home/images/pic1.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic2.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic3.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic4.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic5.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic6.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic7.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic8.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic4.jpg"><p>这是图片标题<p></a></li><li>
						<a href="piclist.html"><img src="resources/home/images/pic6.jpg"><p>这是图片标题<p></a></li>
					</ul>
				</section>
				<section class="pic_nav">
					<h2>
						<a href="piclist.html">1</a>
						<a href="piclist.html" class="on">2</a>
						<a href="piclist.html">3</a>
						<a href="piclist.html">4</a>
						<a href="piclist.html">5</a>
						<a href="piclist.html">上一页</a>
						<a href="piclist.html">下一页</a>
					</h2>
				</section>
			</article><aside>
				<section class="wenzhang_hot">
					<h3>热门文章推荐 / TOP 10</h3>
					<ul>
						<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
					</ul>
				</section>
				<section class="wenzhang_hot">
					<h3>热门文章推荐 / TOP 10</h3>
					<ul>
						<li><a>新闻标题新闻标题新闻题新闻标题新闻标题新闻标题新闻标题新闻题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新闻标题新闻标题题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标新闻标题</a></li>
						<li><a>新闻标题新闻标题新闻标题新标题新闻标题</a></li>
					</ul>
				</section>
			</aside>
		</div>
