<link rel="stylesheet" href="resources/home/css/list.css" />
<link rel="stylesheet" href="resources/home/css/us.css" />
		<div id="main_wrapper" class="contenter">
			<article class="register">
				<form action="#" method="get" enctype="multipart/form-data" id="register">
					<label for="username">用&nbsp;户&nbsp;名：</label><input type="text" name="username" id="username" autofocus="autofocus" placeholder=" 请输入用户名" />
                    <span>* 请输入6~12个字符的用户名</span>
					<div class="clear_2"></div>
					<label for="nicheng">用户昵称：</label><input type="text" name="nicheng" id="nicheng" placeholder=" 请输入昵称" />
                    <span>* 请输入2~6个非特殊字符的昵称</span>
					<div class="clear_2"></div>
					<label>用户性别：</label><input type="radio" name="sex" checked="checked" />男 <input type="radio" name="sex" />女
					<div class="clear_2"></div>
					<label for="pwd1">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label><input type="password" name="pwd1" id="pwd1" autocomplete="off" placeholder=" 请输入密码，不区分大小写" />
                    <span>* 请输入6~18由数字和英文组成的密码</span>
					<div class="clear_2"></div>
					<label for="pwd2">确认密码：</label><input type="password" name="pwd2" id="pwd2" autocomplete="off"  placeholder=" 再次输入密码，不区分大小写"/>
                    <span>* 请输入6~18由数字和英文组成的密码</span>
					<div class="clear_2"></div>
					<label for="email">常用邮箱：</label><input type="email" name="email" id="email" placeholder=" 常用邮箱输入" />
                    <span>* 请输入正确的邮箱</span>
					<div class="clear_2"></div>
					<label for="image">上传头像：</label><input type="file" name="image" id="image"/>
					<div class="clear_2"></div>
					<label></label><input type="submit" value="提交注册" /><input type="reset" value="重填信息" />
				</form>
			</article><aside class="touxiang" id="yulan">
				<img src="#" alt="预览图没法生成" />
				<img src="#" alt="预览图没法生成" />
			</aside>
		</div>

<script type="text/javascript" src="resources/home/js/form_yz.js" ></script>